VITE_SUPABASE_URL=https://mqimikmkwvfvkkjcbdir.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xaW1pa21rd3ZmdmtramNiZGlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MDQ1ODcsImV4cCI6MjA5MDE4MDU4N30.4ZIKmzz6dnuxBLEkUJZU0ThfKX5BqVCix9dsULE__9s
